.background-color {
  background-color: oldlace;
}

.nav-styles {
  background-color: #ff6289;
}

.navbar-align {
  margin-left: auto;
}

.marq{
  color: White;
}

.navbar-font {
  margin-right: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.table-whole {
  width: 100%;
}

.table-c1 {
  width: 33%;
}

.table-c2 {
  width: 66%;
}


#title-button {
  background-color: slategray;
  color: white;
  padding: 40px;
  border-radius: 100px;
  font-size: 30px;
  display: block;
  margin: auto;
}

.image-sizing {
  border-radius: 60px;
  width: 600px;
  margin-left: 400px;
}

.profile-sizing {
  border-radius: 60px;
  width: 400px;
  height: 400px;
  text-align: center;
}

.photo-table {
  margin: 50px;
}

.about-me {
  background-color: #EFF5F5;
}

.color-1 {
  background-color: #ACE5EE;
}

.color-2 {
  background-color: pink;
}

.color-3 {
  background-color: yellow;
}

.block-background {
  border-radius: 40px;
  margin: 30px;
  block-size: 800px;
}

.block-text {
  padding: 50px;
}

.research {
  background-color: white;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-text-1 {
  height: 450px;
  width: 100%;
  color: #274345;
  background-color: #a4def9;
  padding: 20px;
  border-radius: 40px;
}

.carousel-text-2 {
  height: 450px;
  width: 100%;
  color: #274345;
  background-color: #ffa3cd;
  padding: 20px;
  border-radius: 40px;
}

.carousel-text-3 {
  height: 450px;
  width: 100%;
  color: #274345;
  background-color: #fee0a6;
  padding: 20px;
  border-radius: 40px;
}

.carousel-text-4 {
  height: 450;
  width: 100%;
  color: #274345;
  background-color: darkseagreen;
  padding: 20px;
  border-radius: 40px;
}

.carousel-text-5 {
  height: 450;
  width: 100%;
  color: #274345;
  background-color: bisque;
  padding: 20px;
  border-radius: 40px;
}

.carousel-text-6 {
  height: 450;
  width: 100%;
  color: #274345;
  background-color: mistyrose;
  padding: 20px;
  border-radius: 40px;
}

.orange-text {
  color: Black;
  margin-left: 550px;
}

.white-text {
  color: black;
}

.section-title {
  height: 140px;
}

.contact-me {
  background-color: #EFF5F5;
  height: 240px;
}

img{
  width: 400px;
  height: 400px;
  margin: 0px 10px 10px 10px;
}

marquee{
  font-size: 40px;
}

.contact-inner {
  margin: auto;
}

.table-row {
  height: 5px;
}

.contact-title {
  padding: 50px 0 0 50px;
  color: #ff6289;
}

.contact-button {
  margin: 0 30px;
}

.high-level {
  margin: auto;
  margin-left: 30%;
}

.presentation {
  margin-left: 47%;
  margin-top: 10%;
}
